.aboutpage5card img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 15px;
}

.socicon li:nth-child(1){
    background-color:#316FF6;
    padding: 5px 8px;
    border-radius: 10px;
    
}
.socicon li:nth-child(2){
    background-color: #1DA1F2 ;
    padding: 8px;
    border-radius: 10px;
}
.socicon li:nth-child(3){
    background-color: #cd486b;
    padding: 8px;
    border-radius: 10px;
}
.socicon a{
    color: white;
   

}
.socicon li{
    transition: 0.5s ease-in-out;
}
.socicon li:hover{
    background-color: orange;
}