
.main_slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin: 0px 80px;
    overflow: hidden;
  
  }
  .slider_text h1{
    text-align: center;
    font-weight: 600;
  }
  .slider_text h1:nth-of-type(2){
    color: orange;
  }
  

.main_slider img {
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
  }
  .main_slider .swiper{
    overflow: hidden;
}
  .portfolio-slider {
    margin-top: 3rem;
    width: 100%;
  }
  .portfolio-slider .swiper-slide {
    width: 19rem !important;
  }
  .main_slider .swiper{
    overflow: visible!important;
}



