.erromain{
   text-align: center;
   background-color: antiquewhite;

}
.erromain h1{
    font-size: 250px;
    color: grey;
}
.erromain h2{
    font-size: 50px;
    color: grey;
}
.erromain button{

    margin: 30px 0px;
    background-color: beige;
    color: black;
    font-weight: 600;
}