@media (min-width:1200px) {
    .homemain img{
        height: 450px;
        width: 680px;
        border-radius: 5px;
        object-fit: cover;
    }
    .shopcategoryinsercard{
        display: flex;
    }
    .shopcate {
        margin: 0px 10px;
    }
    .occasiondiv{
        display: flex;
        margin: 0px 10px;
    }
    .featuredflex {
        display: flex;
      }
      .reallydflex{
        display: flex;
        gap: 30px;
        justify-content: center;
        margin: 0px 200px;
    }
    .regiterborder {
        border: 1px double black;
        margin: 0px 350px;
        padding: 30px 50px;
        border-radius: 15px;
      }
      .occasiondiv{
        display: flex;
        justify-content: center;
        gap: 65px;
        margin: 0px 180px ;
        /* padding: 0px 0px; */
    }
    .shopcate{
        margin: 0px 80px;
    }
  .footersecure ul li{
   
    
  }

}