@media (min-width:1400px) {
    .occasiondiv{
        display: flex;
        justify-content: center;
        gap: 65px;
        margin: 0px 180px ;
        /* padding: 0px 0px; */
    }
    .regiterborder {
        border: 1px double black;
        margin: 0px 350px;
        padding: 30px 50px;
        border-radius: 15px;
      }

}